.header-wrapper
  .header-nav
    %ul.nav
      %li
        - if signed_in?
          = "Signed in as #{current_user.first_name}"
          = form_tag(session_path, :method => :delete, class: 'sign-out') do
            = button_tag(content_tag('div', 'Sign out'), class: 'btn btn--small btn--negative')
        - else
          =link_to 'Sign In', sign_in_path, :class => 'btn btn--small'

  .header-title
    %div.header-save SAVE THE DATE
    %div.header-date 15-05-15
    =link_to 'MR & MRS GEEKY', '/'

- if signed_in?
  .header-site-nav
    %ul.nav.nav--global
      %li
        = link_to 'Wedding', '/', class: (current_page?('/') ? "current" : "")
      %li
        = link_to 'Guests', guests_path, class: (current_page?(guests_path) ? "current" : "")
      %li
        = link_to 'Achievements', achievements_path, class: (current_page?(achievements_path) ? "current" : "")

